header {
  display: flex;
  background-color: var(--secondary);
  color: white;
  padding: 30px 20px;
}

header .title {
  flex: 1;
  margin: 0;
  align-content: center;
}

.title h1 {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
  align-content: center;
  cursor: pointer;
}
