#product-page {
  display: flex;
  flex-direction: column;
}

#product-page .head {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: 1px #00000022 solid;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  padding: 40px 32px 32px 32px;
  border: 1px #00000022 solid;
}

.product-card h3 {
  margin-top: 0;
}

.loading-text {
  text-align: center;
}

.products-form {
  width: 400px;
}
