.btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 14px 34px;
  border-radius: 2px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8rem;
  padding: 4px 0;
}

input,
textarea,
select {
  margin: 0 0 10px;
  padding: 10px;
}

.error {
  padding: 10px 20px;
  background-color: var(--error-background);
  font-size: 0.8rem;
  color: var(--error-text);
}
