/* ==== THEME COLORS ==== */
:root {
  --primary: #007bff;
  --secondary: #333333;
  --accent: #ffffff;
  --text-color: #000000;
  --background-color: #fafafa;
  --error-background: #e5737333;
  --error-text: #e57373;
}

/* ==== GLOBAL STYLES ==== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
